<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<!--     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>BTC PayWall</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://bootswatch.com/united/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </head>
  <body>
    <h1>Bitcoin PayWall</h1>

    <!-- NEED TO DYNAMICALLY insert btc address here -->
    <div class="input-group">
        <span class="input-group-addon">Balance (BTC)</span>
        <input type="number" step="any" class="form-control BTCbalance">
    </div>
    <p>Balance (BTC): <span id="BTCRunningBalance">0</span></p>

    <h4>Deposit bitcoin here: <span class='depositAddress'> Placeholder</span></h4>

    <button class='btn btn-warning btn-group-lg deposit'>DEPOSIT BITCOIN HERE</button>

    <!--<script src="/clientScript/script.js"></script> not linking correctly-->
    <script type="text/javascript">

    </script>
    <script type="text/javascript" src='/clientScript/script.js'></script>
  </body>
</html>
